*{
    margin: 0 auto;
    font-family: 'Roboto';
}

header {
    background-color: #DDDD;
    height: 1vh;
    padding: 3em;
}
nav{

    display: flex;
    justify-content: right;
}

.menu{
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.menu .link {
    text-decoration: none;
    color: #000;
}

li{
    list-style-type: none;
}

.propsHeader {
    font-weight: bold;
}