.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.banner{
    display: flex;
    align-content: center;
    width: 100%;
}

.text-area{
    margin: 2em;
}

.text-area h1{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    font-size: 30px;
    margin: 0 2vh
}

.description {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vh;
}

.description p{
    text-align: justify;
    margin-bottom: 5vh;
}

.description h3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size-adjust: inherit;
}
